<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<html>
<head>
	<title>Django with ChatGPT</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css">
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body>

	<!-- Banner -->
	<section id="banner">
		<h2><strong>ChatGPT</strong> 를<br> 이용해 봅시다</h2>
		<p>Made By 유희권(a051205)</p>
		<ul class="actions">
			<li><a href="/chatgpt/" class="button special">단발성 질문, 답변 페이지</a></li>
			<li><a href="/selfchatgpt/" class="button special">Gwon's SelfChatGPT</a></li>
			<li><a href="/selfchatbot/" class="button special">Gwon's ChatBot</a></li>
        </ul>
	</section>
    <section id="copyright" class="wrapper style2 special">
        <a href="https://templated.co/">KT Aivle School</a> 5기 화이팅!!
    </section> 
<!-- Footer --><!-- Scripts --><script src="assets/js/jquery.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]--><script src="assets/js/main.js"></script></body></html>
